.sensitive-chinese_page_scws_db_scan #result {
  margin: 20px 20px 20px 0;
}
.sensitive-chinese_page_scws_db_scan #result > div {
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.sensitive-chinese_page_scws_db_scan #result > div li {
  background: #fafafa;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  cursor: pointer;
}
.sensitive-chinese_page_scws_db_scan #result.loading:after {
  content: 'Loading...';
  display: block;
}
